

<head>

    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/ui/6.0.0/firebase-ui-auth__fr.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/6.0.0/firebase-ui-auth-rtl.css" />




    <title>Cours Firebase</title>
    <script>
        var firebaseConfig = {
            "type": "service_account",
            "project_id": "coursfirebase-62d77",
            "private_key_id": "6e328acaf19fa888ac600d211d9229b0b50481db",
            "private_key": "-----BEGIN PRIVATE KEY-----\nMIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQC5Gl7iHGTNnZ7k\ntRyL/bi+dy7b6YllXh5ryCC4HLc2CoAyqULimeAPd2Jye5PB8m4Y3Wtf1MLyxS+y\nDcH3vjYWau/1/6yIvPwgB8Tahh9LmTeYvcDzEVLz6iMoi9XbXaRGgCXl8toUYigg\nWVq+KaS0rMSgk5cS3NGSCR4vUImmmeo2lnvGP7ijE5U93F4yWitGuCoNKaDhOt+w\nbZOS0gjM8EDn1tQpb4Qxnd9rM33aNQMeiVwfr58y8trBsZ/ZMYVTFtiolYON8IC4\nhkza+F6bxycRtS2M1bsp5brEsL/owV00G+M6Nm9XftCIOWWHmhsWCNOHtmoZUtCk\nyThPGrDpAgMBAAECggEAPlD185qKhzyS4z1j9G9BNIIsWOXpFyLWDAQum70zIvLr\nEOMx/Na/+4T+NDuNVYSX8zAL95HJ5fBjq8Z88DptvCNZUNC4FbrGCMSEzerMe2eE\nM5xiapKBAlPnbT2SjE0cwo1e9OjK6YTYLHfYmF+trxPhCIxXloaX2VnPey9agCcL\nGymx7M4ioHRX96A6CIDcPqgwbHRlOIGuFWrJhyHaySVLC6MMtmbZfBOhftn9D7HC\nICrN5//PObNGS6VPCdzCII/kSKhqbfYSLIXNHG2Qj8DWOGAsowqcSNxy8pL4MH65\nH7KOCFQA8spmNR11GF/6UJZ8dPM9tHGP80gkugdbnwKBgQDqj0/pGYzfzNsd92wX\nYuSh9tjD4FlTmJMPr8y/6SzPG4+XsLJhxFxmGAN4tnIKOgVHxFeO8loO2S8h9XIk\nrMr1VnRezed+UwSxm1MOhXaiWOME4BY4BPyqugTp3wFNtFEG+ywQnhD+UWCUjhhw\nOWoQgkA0E6C5Hv2rjwJwvLA/8wKBgQDKBcWTtQ7LdqRqBmfnPZs/pqVAGTrpsRIo\nWHmfD947Mgj+RuFsssjBjmzh3W9+60PTBeaFa+CEbDsC1LYIB8RUyQfaImCd3JEJ\nxvBbb+myf+T5nzYXmZjxZNRcz2il61SDAS7UVZa5EwcvaTZ2Mqi0BOKPgYwtlbQd\nmONLJYKeswKBgDQCuzFw3O/zONMYPfuhjhjr53znjmce+d0MmlYjmjACaIC2SZes\nNuDcikiGDBuAahNT0iZ8TsPkHLNm/XxsZESqevtapO458lx/mJcruPaexxgZqFOb\np3sj7Fr/fAaC6USnBUpaAmKiIMxQBdM8p+wpNZtWjtj9qjoUZ/IfpOVJAoGAKKM2\nljrCih0If6dgOTzEQO6FqToqBp4u19zMQjnP6zpqYrPhXpssFPtQXbLMXcx3bThv\noYEMvbaDvFMLdtwRGzkBElj99GNM7ZmN+eauLNDbP3dOSzsDb/NnYG/8TfvjmSKg\nx+eblQkF1fylDuur0eJ1rIZTq0vE2ntJpXEbME8CgYEA1GQTaymT5AESYdQ4vQ/D\njyx2AhzCEojr0CUsufNubP0eT4VRbiFvcjnU7mjHMuv+CbvOP9q0Uj1gNz+La4Hh\nOLQFFzNqnqh1KCvuXJBp5fycSQO+/WGjLPUYkdV8y8kuz9+PS3utqhmAvG76SJia\nOsI49R0zkTIbFOiuqYvY6+k=\n-----END PRIVATE KEY-----\n",
            "client_email": "firebase-adminsdk-srk9i@coursfirebase-62d77.iam.gserviceaccount.com",
            "client_id": "102073775072661936525",
            "auth_uri": "https://accounts.google.com/o/oauth2/auth",
            "token_uri": "https://oauth2.googleapis.com/token",
            "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
            "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/firebase-adminsdk-srk9i%40coursfirebase-62d77.iam.gserviceaccount.com",
            "apiKey": "AIzaSyCHEBN-Qi4K76xGW6Qtt7ZTl3Iz0qIU5yg",
            "authDomain": "coursfirebase-62d77.web.app",
            "redirect_uri": "https://coursfirebase-62d77.web.app/__/auth/handler"
        };

        firebase.initializeApp(firebaseConfig)
    </script>

    <script src="script.js" defer></script>

</head>
<body>


<h1>Hello le monde</h1>

<h1>Authentification</h1>

<div class="mdl-card__menu">
    <div class="mdl-card">

            <form class="top_form" onsubmit="auth.signInWithEmailAndPassword(email, password)" id="connexionMail" method="post">
                <label>Email :</label>
                <input type="email" name="email" >
                <div></div>
                <label>Password</label>
                <input type="password" name="password">
                <div></div>
                <input type="submit" name="Connexion" aria-valuetext="Connexion">
            </form>


    </div>
    <div class="mdl-card">
        <div class="mdl-button__ripple-container">
            <button id="signin">Se Connecter avec Google</button>
            <button id="sinscire">S'inscrire</button>
            <button id="signout" hidden="true">Se Deconnecter</button>
            <br/>

        </div>
    </div>
    <div class="firebaseui-info-bar">
        <p id="info"></p>
    </div>

</div>
<div id="InscriptionForm">
    <form onsubmit="createUserWithEmailAndPassword(email , password)" method="post">
        Email : <input type="email" name="email" >
        <div></div>
        Password : <input type="password" name="password">
        <div></div>
        <input type="submit" name="Connexion" aria-valuetext="Connexion">

    </form>

</div>



</body>



